---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Reference Architectures
owner: Customer0
---

## <a id="intro"></a>Introduction ##

A PCF reference architecture describes a proven approach for deploying Pivotal Cloud Foundry on a specific IaaS, such as AWS, Azure, GCP, and vSphere, so that meets the following requirements:

* Secure
* Publicly-accessible
* Includes common PCF-managed services such as MySQL, RabbitMQ, and Spring Cloud Services
* Can host at least 100 app instances, or far more

These documents detail PCF reference architectures for different IaaSes, to help you determine the best configuration for your PCF deployment.

## <a id="refarch_products"></a>Products Covered by the Reference Architectures

Pivotal tests its reference architectures to include the following PCF products:

* Pivotal Cloud Foundry Ops Manager
* Pivotal Cloud Foundry Elastic Runtime
* RabbitMQ for Pivotal Cloud Foundry
* Pivotal Cloud Foundry Metrics
* MySQL for Pivotal Cloud Foundry
* Pivotal Spring Cloud Services

## <a id="ref_archs"></a>Available Reference Architectures

* <a href="./aws/aws_ref_arch.html" class="subnav">Pivotal Cloud Foundry on AWS</a>
* <a href="./azure/azure_ref_arch.html" class="subnav">Pivotal Cloud Foundry on Azure</a>
* <a href="./gcp/gcp_ref_arch.html" class="subnav">Pivotal Cloud Foundry on GCP</a>
* <a href="./vsphere/vsphere_ref_arch.html" class="subnav">Pivotal Cloud Foundry on vSphere</a>
