---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Pivotal Cloud Foundry Reference Architecture
owner: Customer0
---

## <a id="intro"></a>Introduction ##

The PCF reference architecture describes a base deployment of Pivotal Cloud Foundry on a specific IaaS, such as AWS, Azure, GCP, and vSphere. Use this document as a resource for determining the best configuration for your PCF deployment. 

A base PCF deployment is defined as a secured but publicly accessible PCF installation, capable of hosting around 100 application instances with commonly used PCF managed services. 

## <a id="refarch_products"></a>Products Covered by the Reference Architecture

The reference architecture consists of the following PCF products:

* Pivotal Cloud Foundry Ops Manager
* Pivotal Cloud Foundry Elastic Runtime
* RabbitMQ for Pivotal Cloud Foundry
* Pivotal Cloud Foundry Metrics
* MySQL for Pivotal Cloud Foundry
* Pivotal Spring Cloud Services

## <a id="ref_archs"></a>Availabe Reference Architectures

* <a href="./gcp/gcp_ref_arch.html" class="subnav">Reference Architecture for Pivotal Cloud Foundry on GCP</a>



