---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Reference Architectures
owner: Customer0
---

## <a id="intro"></a> Introduction

A PCF reference architecture describes a proven approach for deploying Pivotal Cloud Foundry on a specific IaaS, such as AWS, Azure, GCP, or vSphere, that meets the following requirements:

* Secure
* Publicly-accessible
* Includes common PCF-managed services such as MySQL, RabbitMQ, and Spring Cloud Services
* Can host at least 100 app instances, or far more

These documents detail PCF reference architectures for different IaaSes to help you determine the best configuration for your PCF deployment.


## <a id="refarch_products"></a> Products Covered by the Reference Architectures

Pivotal has validated the following PCF products on its own deployments based on these reference architectures:

* Pivotal Application Service (PAS)
* Pivotal Cloud Foundry Ops Manager
* Pivotal Container Services (PKS)


## <a id="ref_archs"></a> Available Reference Architectures

* [Pivotal Cloud Foundry on AWS](./aws/aws_ref_arch.html)
* [Pivotal Cloud Foundry on Azure](./azure/azure_ref_arch.html)
* [Pivotal Cloud Foundry on GCP](./gcp/gcp_ref_arch.html)
* [Pivotal Cloud Foundry on OpenStack](./openstack/openstack_ref_arch.html)
* [Pivotal Cloud Foundry on vSphere](./vsphere/vsphere_ref_arch.html)
* [Control Plane Reference Architectures](./control.html)