---
title: Reference Architecture for Pivotal Cloud Foundry on vSphere
owner: Customer0
---

<strong><%= modified_date %></strong>

This guide presents a reference architecture for Pivotal Cloud Foundry (PCF) on vSphere. 



All reference architectures described in this topic are validated for production-grade PCF deployments using...

## <a id="arch_diagram"></a> Base Reference Architecture 

The following diagram provides an overview of a reference architecture deployment of PCF on vSphere.

<%= image_tag('vsphere-overview-arch.png') %>

To view a larger version of this diagram, click [here](https://raw.githubusercontent.com/pivotal-cf/docs-pcf-refarch/master/images/vsphere-overview-arch.png).

### <a id="base_components"></a> Base Reference Architecture Components

The following table lists the components that are part of a base reference architecture deployment on vSphere. 

<table class="nice">  
<th><strong>Component</strong></th>
<th><strong>Reference Architecture Notes</strong></th>
<tr>
 <td><strong>Domains & DNS</strong></td>  
 <td>CF Domain Zones and routes in use by the reference architecture include:
   <ul>
     <li>domains for *.apps and *.system (required),</li>
     <li>a route for Ops Manager (required),</li>
     <li>a route for doppler (required),</li>
     <li>a route for loggregator (required),</li>
     <li>a route for ssh access to app containers (optional),</li>
     <li>and a route for TCP routing to apps (optional). </li>          
   </ul>
 </td>
</tr>
<tr>
 <td><strong>Ops Manager</strong></td>  
 <td>Deployed on the infrastructure subnet and accessible by FQDN or via an optional Jumpbox.</td>
</tr> 
<tr>
 <td><strong>BOSH</strong></td>  
 <td>Deployed on the infrastructure subnet.</td>
</tr> 
<tr>
 <td><strong>Gorouter(s)</strong></td>  
 <td>Accessed via the API & Apps load balancer. Deployed on the ERT subnet, one job per.... </td>
</tr> 
<tr>
 <td><strong>Diego Brain(s)</strong></td>  
 <td>This component is required, however the SSH container access functionality is optional and enabled via the SSH Proxy load balancer. Deployed on the ERT subnet,  one job per.....</td>
</tr> 
<tr>
 <td><strong>TCP Router(s)</strong></td>  
 <td>Optional feature for TCP routing. Deployed on the ERT subnet,  one job per.....</td>
</tr> 
<tr>
 <td><strong>MySQL</strong></td>  
 <td>Reference architecture uses internal MySQL provided with PCF. Deployed on the ERT subnet,  one job per.....</td>
</tr> 
<tr>
 <td><strong>Elastic Runtime</strong></td>  
 <td>Required. Deployed on the ERT subnet,  one job per.....</td>
</tr> 

<tr>
 <td><strong>Service Tiles</strong></td>  
 <td>Deployed on the PCF managed services subnet. Each service tile is deployed to .....</td>
</tr> 
<tr>
 <td><strong>Dynamic Services</strong></td>  
 <td>Reserved for future use, dynamic services are deployed on their own subnet. Dynamic services are services autoprovisioned by BOSH based on a trigger, such as a request for that service.</td>
</tr>  
</table>

## <a id="common_network"></a> Alternative Network Layouts for vSphere ##

This section describes the possible network layouts for PCF deployments as covered by the reference architecture of PCF on vSphere. 

At a high level, there are currently ... possible ways of deploying PCF as described by the reference architecture:

1. NSX Edge and 3 Clusters (Base Reference Architecture)
1. 

The first scenario is currently outlined in the [existing installation documentation](../../customizing/vsphere.html) for vSphere deployments of PCF. It models a PCF deployment ...


### <a id="base-network-layout"></a> Network Layout

This diagram illustrates the network topology of the base reference architecture for PCF on vSphere. In this deployment, you ....

<%= image_tag(' ') %>

To view a larger version of this diagram, click [here](https://raw.githubusercontent.com/pivotal-cf/docs-pcf-refarch/master/images/azure-net-topology-base.png).

### <a id="network_components"></a> Network Objects

The following table lists the network objects in PCF on Azure reference architecture.

<table class="nice">
  <th><strong>Network Object</strong></th>
  <th><strong>Notes</strong></th>
  <th><strong>Estimated Number</strong></th>
  <tr>
  <td><strong>External Public IPs</strong></td>
  <td>Use
   <ol>
     <li>global IP for apps and system access</li>
     <li>Ops Manager (or optional Jumpbox).</li>
   </ol>
   Optionally, you can use a public IPs fro the ssh-proxy and tcp-router load balancers.
  </td>
  <td>1-4</td>
  </tr>
  <tr>
  <td><strong>Virtual Network</strong></td>
  <td>One per deployment. Azure virtual network objects allow multiple subnets with multiple CIDRs, so a typical deployment of PCF will likely only ever require one Azure Virtual Network object.</td>
  <td>1</td>
  </tr>
  <tr>
  <td><strong>Subnets</strong></td>
  <td>Separate subnets for
   <ol>
     <li>infrastructure (Ops Manager, Ops Manager Director, Jumpbox),</li>
     <li>ERT,</li>
     <li>services,</li>
     <li>and dynamic services.</li>
   </ol>
   Using separate subnets allows you to configure different firewall rules due to your needs.
   </td>
  <td>4</td>
  </tr>
  <tr>
  <td><strong>Routes</strong></td>
  <td>Routes are typically created by Azure dynamically when subnets are created, but you may need to create additional routes to force outbound communication to dedicated SNAT nodes. These objects are required to deploy PCF without public IP addresses.</td>
  <td>3+</td>
  </tr>
  <tr>
  <td><strong>Firewall Rules</strong></td>
  <td>Azure firewall rules are collected into a Network Security Group (NSG) and bound to a Virtual Network object and can be created to use IP ranges, subnets, or instance tags to match for source & destination fields in a rule. One NSG can be used for all firewall rules.</td>
  <td>12</td>
  </tr>
  <tr>
  <td><strong>Load Balancers</strong></td>
  <td>Used to handle requests to Gorouters and infrastructure components. Azure uses 1 or more load balancers. The API and Apps load balancer is required. The TCP Router load balancer used for TCP routing feature and the SSH load balancer that allows SSH access to Diego apps are both optional. In addition, you can use a MySQL load balancer to provide high avilability to MySQL. This is also optional.</td>
  <td>1-4</td>
  </tr>
  <tr>
  <td><strong>Jumpbox</strong></td>
  <td>Optional. Provides a way of accessing different network components. For example, you can configure it with your own permissions and then set it up to access to Pivotal Network to download tiles. Using a Jumpbox is particularly useful in IaaSes where Ops Manager does not have a public IP. In these cases, you can SSH into Ops Manager or any other component via the Jumpbox. 
</td>
  <td>1</td>
  </tr>
</table>

### <a id="multiple_resource_groups"></a> Multiple Resource Group Deployment

This diagram illustrates the case where you want to use additional resource groups in your PCF deployment on Azure.

Shared network resources may already exist in an Azure subscription. In this type of deployment, using multiple resource groups allows you to reuse existing resources instead of provisioning new ones. 

To use multiple resource groups, you need to provide the BOSH Service Principal with access to the existing network resources. 

<%= image_tag('azure-multi-resgroup.png') %>

To view a larger version of this diagram, click [here](https://raw.githubusercontent.com/pivotal-cf/docs-pcf-refarch/master/images/azure-multi-resgroup.png).

###<a id="multi-resgroup-notes"></a> Multiple Resource Groups Deployment Notes

To deploy PCF on Azure with multiple resource groups, you can define custom roles to grant resource group access to your BOSH Service Principal. For example, you might develop the following:

* Dedicated `Network` Resource Group, limits BOSH Service Principal so that it does not have admin access to network objects.

* Custom Role for BOSH Service Principal, applied to `Network` Resource Group, limits the BOSH Service Principal to minimum read-only access.
  <pre class="terminal">
  {
  "Name": "PCF Network Read Only",
  "IsCustom": true,
  "Description": "MVP PCF Read Network Resgroup",
  "Actions": [
  "Microsoft.Network/networkSecurityGroups/read",
  "Microsoft.Network/networkSecurityGroups/join/action",
  "Microsoft.Network/publicIPAddresses/read",<-- Only Required if Using Public IPs
  "Microsoft.Network/publicIPAddresses/join/action", <-- Only Required if Using Public IPs
  "Microsoft.Network/loadBalancers/read",
  "Microsoft.Network/virtualNetworks/subnets/read",
  "Microsoft.Network/virtualNetworks/subnets/join/action",
  "Microsoft.Network/virtualNetworks/read"
  ],
  "NotActions": [],
  "AssignableScopes": ["/subscriptions/[YOUR_SUBSCRIPTION_ID]"]
  }
  </pre>
* Custom Role for BOSH Service Principal, applied to Subscription, allowing the Operator to deploy PCF components
  <pre class="terminal">
  {
   "Name": "PCF Deploy Min Perms",
   "IsCustom": true,
   "Description": "MVP PCF Terraform Perms",
   "Actions": [
     "Microsoft.Compute/register/action"
   ],
   "NotActions": [],
   "AssignableScopes": ["/subscriptions/[YOUR\_SUBSCRIPTION\_ID]"]
  }
  </pre>
